* {
    margin: 0 auto;
    padding: 0;
    
}

body {
    background-image: url(../imagens/WhatsApp\ Image\ 2019-09-14\ at\ 11.05.02.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

a {
    color:black;
    font: 19px ubuntu;
    text-decoration: none;
    padding: 10px;
    transition: all 0.7s;
    
}

header {
    width: 100%;  
}

header nav {
    padding-top: 10px;
    background:turquoise;
    height: 45px;
    

   
}

header nav ul li {
    display: inline;
    

}
 
header nav ul li a:hover {
    background: rgba(204, 218, 221, 0.973);
    color:black;
    padding: 10px;
}

.redes{
    position: fixed;
    right: 0;
    top: 25%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: 7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook{
    background: rgb(0, 132, 255);
}

.icon-instagram{
    background: rgb(228, 107, 107);
}

.icon-twitter{
    background: rgb(124, 180, 226);
}

.icon-name{
    background: rgba(204, 218, 221, 0.9);
}

.icon:first-child{
    border-radius: 1rem 0 0 0;
}

.icon:last-child{
    border-radius: 0 0 0 1rem;

}

.rodape{
    text-align: center;
    align-self: center;
    color:black;
    padding: 10px;
    background:turquoise;
    width: 100%;
    height: 10px;
    float: right;   
}
@media screen and (max-width: 600px){
    * {
        margin: 0 auto;
        padding: 0;
        
    }
    
    body {
        background-image: url(../imagens/teste2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    a {
        color:black;
        font: 19px ubuntu;
        text-decoration: none;
        padding: 10px;
        transition: all 0.7s;
        
    }
    
    header {
        width: 100%;  
    }
    
    header nav {
        padding-top: 10px;
        background:turquoise;
        height: 45px;
        
    
       
    }
    
    header nav ul li {
        display: inline;
        
    
    }
     
    header nav ul li a:hover {
        background: rgba(204, 218, 221, 0.973);
        color:black;
        padding: 10px;
    }
    
    .redes{
        position: fixed;
        right: 0;
        top: 25%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
    }
    
    .icon{
        color: white;
        text-decoration: none;
        padding: 7rem;
        display: flex;
        transition: all .5s;
    }
    
    .icon-facebook{
        background: rgb(0, 132, 255);
    }
    
    .icon-instagram{
        background: rgb(228, 107, 107);
    }
    
    .icon-twitter{
        background: rgb(124, 180, 226);
    }
    
    .icon-name{
        background: rgba(204, 218, 221, 0.9);
    }
    
    .icon:first-child{
        border-radius: 1rem 0 0 0;
    }
    
    .icon:last-child{
        border-radius: 0 0 0 1rem;
    
    }
    
    .rodape{
        text-align: center;
        align-self: center;
        color:black;
        padding: 10px;
        background:turquoise;
        width: 100%;
        height: 10px;
        float: right;   
    